<div>
  <h2>Active Posts</h2>

  <div class="card" *ngFor="let post of activePosts">
    <div
      [ngClass]="{
        'bg-warning ': post.type === 'news',
        'bg-success': post.type === 'politics',
        'bg-info': post.type === 'education'
      }"
    >
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">Post ID: {{ post.body }}</p>
        <button type="button" class="btn btn-dark">Disattiva Post</button>
      </div>
    </div>
  </div>
</div>
