<div>
  <h2>Inactive Posts</h2>
  <div class="card" *ngFor="let post of nonactivePosts">
    <div
      [ngClass]="{
        ' bg-warning ': post.type === 'news',
        'bg-dark text-white': post.type === 'politics',
        'bg-info': post.type === 'education'
      }"
    >
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">Post ID: {{ post.body }}</p>
        <button type="button" class="btn btn-success">Attiva Post</button>
      </div>
    </div>
  </div>
</div>
